name: Deploy Docusaurus to GitHub Pages

on: [push]

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Clean npm cache
        run: npm cache clean --force

      - name: Install dependencies
        run: npm install --prefix frontend --force

      - name: Build Docusaurus
        run: npm run build --prefix frontend

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./frontend/build
          cname: your-custom-domain.com # Optional: If you have a custom domain, replace with your domain. Otherwise, remove this line.
